<ion-content>
  <div class="MainImage">
    <div class="left"></div>
    <div class="middle">
      <div class="ProfilPhoto">
        <p class="Name">{{displayName}}</p>
      </div>
    </div>
    <div class="bottom-right">
      <div class="ReturnIconBlock">
        <a [routerLink]="['/edit-profil']">
          <ion-img src="../../assets/icon/pen.png"></ion-img>
        </a>
      </div>
    </div>
    <div class="top-right">
      <div class="ReturnIconBlock">
        <ion-img src="../../assets/icon/bell.png"></ion-img>
      </div>
    </div>
  </div>

  <div class="flex-container">
    <div>
      <ion-img src="../../assets/icon/calendary.png" class="icon"></ion-img>
      <p class="title-icon-yvent">Yvent</p>
    </div>
    <div>
      <ion-img src="../../assets/icon/settings.png" class="icon"></ion-img>
      <p class="title-icon-settings" style="font-size: 18px">Paramètres</p>
    </div>
    <div>
      <a [routerLink]="['/edit-pass']">
        <ion-img src="../../assets/icon/pen.png" class="icon"></ion-img>
      </a>
      <p class="title-icon-password" style="font-size: 18px">
        Modifier le mot de passe
      </p>
    </div>
  </div>
</ion-content>
