<ion-tabs>
  <div id="connecter">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="login">
      <ion-icon name="ticket-outline"></ion-icon>
      <ion-label>Mes tickets</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>

<div id="deconnecter">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="login">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Connexion</ion-label>
    </ion-tab-button>
    
    </ion-tab-bar>
</div>

</ion-tabs>