.input-group {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
a {
  color: var(--ion-color-secondary);
  margin-left: 5px;
}

ion-header{
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img{
        max-width: 50%;
        max-height: 50%;
      }
  }
}

