<header>
  <script src="../../app/profil/profil.page.js"></script>
</header>

<ion-content>

  <div class="MainImage">
      <div class="left"></div>
      <div class="middle">
          <div class="ProfilPhoto">
              <p class ="Name">{{editProfil?displayName}}</p>
          </div>
      </div>
      <div class="bottom-right">
          <div class="ReturnIconBlock">
              <ion-img src="../../assets/icon/pen.png"></ion-img>
          </div>
      </div>
      <div class="top-right">
          <div class="ReturnIconBlock">
              <ion-img src="../../assets/icon/bell.png"></ion-img>
          </div>
      </div>
  </div>
  
  <div class="flex-container">
      <div>
          <ion-img src="../../assets/icon/calendary.png" class="icon"></ion-img>
          <p class="title-icon-yvent">Yvent</p>
      </div>
      <div>
          <ion-img src="../../assets/icon/commentary.png" class="icon"></ion-img>
          <p class="title-icon-commentary">Commentaire</p>
      </div>
      <div>
          <ion-img src="../../assets/icon/settings.png" class="icon"></ion-img>
          <p class="title-icon-settings">Paramêtre</p>
      </div>
      <div>
          <ion-img src="../../assets/icon/camera.png" class="icon"></ion-img>
          <p class="title-icon-scanner">Scanner</p>
      </div>
  </div>



</ion-content>

