<ion-content>
    <div class="MainImage">

        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" class="ReturnIconBlock">
            <ion-img src="../../assets/icon/left-arrow.png" class="ReturnIcon"></ion-img>
          </ion-back-button>
        </ion-buttons>
        <div class="calcInMainImage"></div>
        <div class="TitleInMainImage">Fin des ydays</div>
        <div class="DateInMainImage">30 Fevrier, 2022</div>
        <div class="HoureInMainImage">18h30 - 00h30</div>

    </div>
    <div class="OverviewTitle"><p class="Bold">Description</p></div>
    <div class="Overview"><p class="LightItalic">Viens te fummer la gueule après les Ydays avec un max d’alcool. Début à 18h30 le dernier debout gagne</p></div>
    <div class="MapPhoto"></div>
    <div class="ParticipantTitle">Places restante&ensp;:&ensp;<p class="Bold">32</p></div>
    <ion-back-button defaultHref="home" color="unset" fill="clear" icon="none" text="Je participe" style="padding-right: 7%;" class="ButtonBuy">
      <!-- <div class="TextButtonBuy">Je participe</div> -->
    </ion-back-button>
</ion-content>
