<ion-content>
    <div class="MainImage">

      <ion-buttons slot="start">
        <ion-back-button defaultHref="tablinks/home"></ion-back-button>
      </ion-buttons>
      <div class="TitleInMainImage">Fin des ydays</div>
      <div class="DateInMainImage">30 Fevrier, 2022</div>
      <div class="HoureInMainImage">18h30 - 00h30</div>

    </div>
    <div class="OverviewTitle"><p class="Bold">Description</p></div>
    <div class="Overview"><p class="LightItalic">Viens fêter la fin des Y-Days !</p></div>
    <div class="MapPhoto"></div>
    <div class="ParticipantTitle">Places restantes<p class="Bold">32</p></div>

</ion-content>
