<ion-header class="Header">
  <!-- <ion-buttons slot="start"> -->
  <ion-back-button
    defaultHref="tablinks/home"
    class="back-button"
    style="color: white"
  ></ion-back-button>
  <!-- </ion-buttons> -->
  <ion-img src="{{event?.image}}" class="mainImage"> </ion-img>
  <div class="TitleInMainImage" style="color: white">{{event?.title}}</div>
  <div class="DateInMainImage" id="startDate" style="color: white">
    {{event?.formattedDate}}
  </div>
  <div class="HoureInMainImage" style="color: white">
    {{event?.formattedTime}}
  </div>
</ion-header>
<ion-content>
  <div class="OverviewTitle"><p class="Bold">Description</p></div>
  <div class="Overview"><p class="LightItalic">{{event?.description}}</p></div>
  <div #map style="width: 100%; height: 400px"></div>
  <div class="ParticipantTitle">
    Places restantes :
    <p class="Bold">{{event?.restPlaces}}</p>
  </div>
  <ion-button
    fill="clear"
    class="ButtonBuy"
    (click)="presentAlertMultipleButtons()"
    style="color: white"
  >
    {{textButtonRegister}}
  </ion-button>
</ion-content>
