<ion-content>
  <ion-header class="Header" style="background-image: url({{event?.image}});">
    <!-- <ion-buttons slot="start"> -->
    <ion-back-button defaultHref="tablinks/home" class="back-button"></ion-back-button>
    <!-- </ion-buttons> -->
    <!-- <ion-img src={{event?.image}} class="mainImage"> </ion-img> -->
    <div class="TitleInMainImage">{{event?.title}}</div>
    <div class="DateInMainImage" id="startDate">{{event?.date}}</div>
    <div class="HoureInMainImage">{{event?.time}}</div>
  </ion-header>
  
  <div class="OverviewTitle"><p class="Bold">Description</p></div>
  <div class="Overview"><p class="LightItalic">{{event?.description}}</p></div>
  <div #map style="width: 100%; height: 400px"></div>
  <div class="ParticipantTitle">
    Places restantes :
    <p class="Bold">{{event?.restPlaces}}</p>
  </div>
  <ion-button fill="clear" class="ButtonBuy" (click) = "presentAlertMultipleButtons()">
    {{textButtonRegister}}
  </ion-button>
</ion-content>