<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start"> </ion-buttons>

    <ion-title> Événements Ynov </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <img src="../../assets/notification.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../assets/party_mod.png" />

    <div class="caption ion-padding">Événements à venir</div>

    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-input
          placeholder="Chercher un événement"
          [ngModel]="filter"
          (ngModelChange)="filterSearch($event)"
        ></ion-input>
        <ion-button slot="end">
          <img src="../../assets/filter.svg" />
        </ion-button>
      </ion-item>
    </div>
  </div>

  <div class="title">
    <h2>Pour vous</h2>
  </div>

  <div class="events-display" *ngFor="let event of events">
    <ion-card>
      <ion-card-header class="ion-no-padding">
        <img src="{{event.image}}" />
      </ion-card-header>

      <ion-card-content>
        <p class="date">{{event.formattedDate}}</p>
        <h2 class="eventname">{{event.description}}</h2>
        <ion-button [routerLink]="['./event', event.uuid]" style="color: white"
          >Voir les détails</ion-button
        >
        <div class="additional-info">
          <div class="attendees">
            <img src="../../assets/persons/person1.svg" />
            <img src="../../assets/persons/person2.svg" />
            <img src="../../assets/persons/person3.svg" />
            <img src="../../assets/persons/person4.svg" />
            <div class="count">
              <img src="../../assets/persons/person-placeholder.svg" />
              <p style="font-size: 10px; left: 1">
                {{event.participantsCount}}
              </p>
            </div>
          </div>

          <p class="time">{{event.formattedTime}}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
